.dirCard {
  // margin: 50px 50px;
  width: 270px;
  height: 220px;
  border: 1px solid rgba(193, 193, 193, 0.5);
  border-radius: 8px;
  padding: 20px;
  margin: 0px 35px 35px 0px;
  background-color: rgb(253, 253, 253);
  // margin-bottom: 10px; // 행 간격

  @media screen and (max-width:600px) {
    margin-right: 0px;

  }
}

.topBox {}

.dir_title {
  font-weight: 600;
  font-size: 1.15rem;
  cursor: pointer;
}

.startbtn {
  width: 240px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40px;
  border-radius: 8px;
  border-color: rgb(140, 180, 248);
  color: rgb(108, 145, 207);
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #e4f1ff;
  cursor: pointer;

  &:hover {
    background-color: rgb(215, 229, 255); ;
    // box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);
  }
}